<link rel="stylesheet" type="text/css" href="app/public/assets/compiled/css/app.css">
<link rel="stylesheet" type="text/css" href="app/public/assets/compiled/css/app-dark.css">

{{#css_stylesheet_vendor}}<link rel="stylesheet" type="text/css" href="{{{url_css}}}">{{/css_stylesheet_vendor}}
{{#css_stylesheet}}<link rel="stylesheet" type="text/css" href="{{{url_css}}}" />{{/css_stylesheet}}
