<script src="app/public/assets/static/js/components/dark.js"></script>
<script src="app/public/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="app/public/assets/compiled/js/app.js"></script>
<script src="app/public/assets/extensions/jquery/jquery.min.js"></script>
<script src="app/public/js/base/script-base.js"></script>

{{#js_scripts_vendor}}<script src="{{{url_js}}}"></script>{{/js_scripts_vendor}}
{{#js_scripts}}<script src="{{{url_js}}}"></script>{{/js_scripts}}